{{#each beersFromApi}}
 <div class="container">
    <div class="inside">
    <img src="{{image_url}}" alt="" height="100" class="beerImgs">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    </div>
</div>
{{/each}}