<div class="homeDiv">
<img src="/images/beer.png" alt="" class="beerImg">
<button> <a href="/beers" class="homeBtn">Check the Beers!</a> </button>
<button><a href="/random-beer" class="homeBtn">Check a Random Beer!</a></button>
</div>
