{{#each randomBeer}}
  <div class='container-random'>
    <img src='{{image_url}}' alt='' class="randomBeerImg" />
    <div class="random">
      <h1 class="beerName">{{name}}</h1>
      <p>{{description}}</p>
      <p>{{tagline}}</p>
    </div>
  </div>
{{/each}}